* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #181a1b;
    color: #e8e6e3;

}

.menu {
    background-color: #1A202C;
    color: #e8e6e3;
    height: 70px;
 
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.menu__links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: #fff;
    text-decoration: none;
    text-align: center;
   
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    width: 150px;
    justify-content: center;
}

.menu__link:hover {
    background-color: #5e7094;
}
 
 .menu__link::after {
    content: ''; 
    position: absolute; 
    left: 50%; 
    bottom: 0; 
    width: 0; 
    height: 2px; 
    background-color: #c73030; 
    transition: all 0.3s ease; 
}
.menu__link:hover::after {
    left: 0; 
    width: 100%; 
}

.menu__arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
   right: 20px;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #1A202C;
    width: 100px;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
}

.menu__link--inside {
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: #798499;
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 36px;
}

/* =============================================SOBRE MI==================================================== */
.banner {
    text-align: center;
}

.presentation {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    padding-left: 150px;
    margin-left: 150px;
}

.about {
    width: 55%; /* Aumentar el ancho del texto */
}

.profile {
    width: 25%; /* Reducir el ancho del contenedor de la imagen */
    margin-right: 150px;/* Eliminar margen extra para acercar la imagen */
}

.about p {
    font-size: 20px;
    line-height: 1.5;
}

.img_profile {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    flex-shrink: 0; /* Evita que la imagen se encoja */
}


/* =================================================EXPIRIENCE============================================================== */
.experience {
width: 60%;
display: flex;
flex-direction: column;
margin: 0 auto;
gap: 20px;
}
.experience h2{
padding: 0px 5px 0px 10px;
font-size: 40px;
}

.experience_block{
display: flex;
align-items: center;
justify-content: space-between;
gap: 100px;
}
.experience_block img{
width: 500px;
max-width: 600px;
height: auto;
}
.experience_ind {

width: 500px;
display: flex;
flex: 1;
flex-direction: column;
}

.experience_ind h3, .experience_ind h4 {
font-size: 25px;
padding: 0px 5px 0px 10px;
}

.experience_ind p{
font-size: 20px;
padding: 0px 5px 0px 10px;
}

#job, #academic{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
justify-content: center;
}

.separator {
    border-left: 1px solid #ccc;
 /*  height: 1080px; */
  height: 550px;
    position: absolute;
    left: 50%;
    z-index: -1;
  }
/* =====================================================HABILIDADES=============================================================  */
.habilidades{
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 25px;    
    gap: 80px;
    margin: 0 auto;
}
.habilidades > div {
    padding: 20px;
}
.habilidades > div h3 {
    margin-bottom: 10px; 
}

.habilidades > div ul {
    margin-left: 25px; 
    list-style-type: disc; 
}

.habilidades > div ul li {
    margin-bottom: 5px; 
}

/* =======================================================PORTFOLIO============================================================= */
#portafolio-section {
    width: 70%;
    margin-top: 50px;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}

#portafolio-section h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

#portafolio-section ul {
    list-style-type: none; /* Quitar las viñetas */
    margin: 0;
    padding: 0;
    text-align: left; /* Alinear el texto a la izquierda */
    margin-bottom: 40px; /* Espacio entre los proyectos */
}

#portafolio-section ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

#portafolio-section p {
    margin-bottom: 10px; /* Separación entre párrafos y el link */
    line-height: 1.6; /* Mejorar la legibilidad del texto */
}

#portafolio-section a {
    font-weight: bold;
    color: #e8e6e3;; /* Color del link */
    text-decoration: none;
}

#portafolio-section a:hover {
    text-decoration: underline;
}

#portafolio-section img {
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 10px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#portafolio-section img:hover {
    transform: scale(4); /* Aumentar tamaño al 110% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar la sombra para efecto de profundidad */
}


/* ========================================================FOOTER================================================================= */
footer{
    background-color: #1A202C;
    color: #e8e6e3;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.socialMedia {
    padding: 0px;

}

.socialMedia a {
    padding-top: 100px;
    margin: 0px 10px;
    width: 30px;
    color: #fff;
    text-decoration: none;

}


@media (max-width: 1000px) {
    .presentation {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about p {
        font-size: 16px;
    }

    .img_profile {
        width: 120px;
        height: 120px;
        align-items: center;
        justify-content: center;
    }
    .profile{
        width: 400px;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .presentation {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .about, .profile {
        width: 100%;
        margin: 0;
    }

    .about p {
        width: 100%;
        font-size: 18px;
    }

    .img_profile {
        width: 150px;
        height: 150px;
    }

    .experience_block {
        flex-direction: column;
        gap: 50px;
    }

    .experience_block img {
        display: none;
    }

    .experience_ind {
        width: 100%;
    }
    .menu__hamburguer {
        display: flex;
    }

    .menu__item {
        --clip: 0;
        overflow: hidden;
    }

    .menu__item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show {
        background-color: var(--background);
    }


    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show {
        transform: unset;
        width: 100%;
    }

    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
    #portafolio-section h3 {
        font-size: 24px;
    }

    #portafolio-section ul li {
        font-size: 16px;
    }

    #portafolio-section img {
        width: 100%;
        height: auto;
    }
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .presentation {
        padding: 10px;
    }

    .about p {
        font-size: 16px;
    }

    .img_profile {
        width: 120px;
        height: 120px;
    }

    .experience_block {
        gap: 30px;
    }

    .experience h2 {
        font-size: 30px;
    }

    .experience_ind h3, .experience_ind h4 {
        font-size: 20px;
    }

    .experience_ind p {
        font-size: 16px;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .socialMedia a {
        margin: 0 5px;
        font-size: 20px;
    }
}