* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1A202C;
    color: #e8e6e3;

}

.menu {
    background-color: #283756;
    color: #e8e6e3;
    height: 70px;

}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.menu__links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: #fff;
    text-decoration: none;
    text-align: center;

    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    width: 150px;
    justify-content: center;
}

.menu__link:hover {
    background-color: #5e7094;
}

.menu__link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #c73030;
    transition: all 0.3s ease;
}

.menu__link:hover::after {
    left: 0;
    width: 100%;
}

.menu__arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 20px;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #1A202C;
    width: 100px;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
}

.menu__link--inside {
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: #798499;
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 36px;
}

/* =============================================SOBRE MI==================================================== */
main {
    width: 95%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin: 40px;
}

.presentation {
    width: 40%;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;


}

.about {
    width: 60%;
}

.profile {
    width: 40%;
}

.about p {
    font-size: 20px;
    line-height: 1.5;
}

.img_profile {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    flex-shrink: 0;
    /* Evita que la imagen se encoja */
}


/* =================================================EXPIRIENCE============================================================== */
.experience {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   
    }
    .experience h2{
    padding: 0px 5px 0px 10px;
    font-size: 40px;
    }
    
    .experience_block{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 50%;
    margin: 0 auto;
    }
    .experience_block img{
    width: 500px;
    max-width: 600px;
    height: auto;
    }
    .experience_ind {
    
    width: 500px;
    display: flex;
    flex: 1;
    flex-direction: column;
    }
    
    .experience_ind h3, .experience_ind h4 {
    font-size: 25px;
    padding: 0px 5px 0px 10px;
    }
    
    .experience_ind p{
    font-size: 20px;
    padding: 0px 5px 0px 10px;
    }
    
    #job, #academic{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    justify-content: center;
    }
    
  

/* =====================================================HABILIDADES=============================================================  */

#habilidades-section {
    margin-top: 80px;
    width: 70%;
    display: flex;
    font-size: 25px;
    margin: 0 auto;

}

.habilidades>div {
    width: 45%;
    padding: 20px;
}

.habilidades>div h3 {
    margin-bottom: 10px;
}

.habilidades>div ul {
    margin-left: 25px;
    list-style-type: disc;
}

.habilidades>div ul li {
    margin-bottom: 5px;
}

/* =======================================================PORTFOLIO============================================================= */
#portafolio-section {
    margin-bottom: 80px;
}

#portafolio-section h3 {
    text-align: center;
    font-size: 25px;
}

.row {
    width: 70%;
    display: flex;
    padding: 5px;
    margin: 0 auto;
}

.img-container {
    position: relative;
}

.img-container {
    position: relative;
    margin: 0 auto;
}

.img-container img {
    padding: 10px;
    display: block;
    width: 400px;
    height: 400px;
}

.img-container a {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}



/* ========================================================FOOTER================================================================= */
footer {
    background-color: #283756;
    color: #e8e6e3;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.socialMedia {
    padding: 0px;

}

.socialMedia a {
    padding-top: 100px;
    margin: 0px 10px;
    width: 30px;
    color: #fff;
    text-decoration: none;

}



@media (max-width: 1600px) {
    .experience{
        width: 90%;
    }
   
    .experience_block {
       margin: 0 auto;
      
      
    }
    .experience_block img {
        width: 45%;
        margin: 0 auto;
      

     }
     .experience_block > div {
        width: 45%;
        margin: 50px;
      
     }
   
    .presentation {
        width: 80%;
    }
    .row{
        width: 80%;
    }
    #job, #academic{
       /*  width: 50%; */
        }
}

@media (max-width: 1440px) {
    .experience_block {
        width: 50%;
        height: 50rem;
       
  
    }
  /*   .experience_block img {
        position: relative; 
        max-width: 50%; 
        margin: 0 auto; 
      }
     */
    .experience {
        width: 80%;
      
    }
    #job, #academic{
         width: 50%; 
         }
    .experience_ind h2 {
     font-size: 30px;
    }
    .experience_ind h3 {
        font-size: 25px;
       }
       .experience_ind h4 {
        font-size: 20px;
       }
       .experience_ind p {
        font-size: 18px;
       }
    .presentation {
        width: 80%;
    }
    #habilidades-section{
        width: 80%;
    }
    .row{
        width: 80%;
    }

    
}



@media (max-width: 1000px) {
    .presentation {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about p {
        font-size: 16px;
    }

    .img_profile {
        width: 120px;
        height: 120px;
        align-items: center;
        justify-content: center;
    }

    .profile {
        width: 400px;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .row{
        width: 90%;
    }
    .img-container img {
        padding: 5px;
        width: 200px;
        height: 200px;
    }
    
}

@media (max-width: 800px) {
    .presentation {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .about,
    .profile {
        width: 100%;
        margin: 0;
    }

    .about p {
        width: 100%;
        font-size: 18px;
    }

    .img_profile {
        width: 150px;
        height: 150px;
    }
    .experience{
        width: 90%;

    }
    .experience_block {
        flex-direction: column;
        width: 90%;
    }

    .experience_block img {
        display: none;
    
    }

    .experience_ind {
        width: 100%;
        margin: 0 auto;
        pad: 0;
    }

    .menu__hamburguer {
        color: #ccc;
        display: flex;
    }

    .menu__item {
        --clip: 0;
        overflow: hidden;
    }

    .menu__item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show {
        background-color: var(--background);
    }


    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show {
        transform: unset;
        width: 100%;
    }

    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }

    #portafolio-section h3 {
        font-size: 24px;
    }

    #portafolio-section ul li {
        font-size: 16px;
    }

    #portafolio-section img {
        width: 100%;
        height: auto;
    }
    #habilidades-section{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    #job, #academic{
        width: 80%;
    }
    .row{
        flex-direction: column;
    }
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .presentation {
       width: 90%;
    }
    .profile {
        padding: 0;
        width: 50%;
        margin: 0 auto;
    }
    .experience {
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }
    .about p {
        font-size: 16px;
    }

    .img_profile {
        width: 120px;
        height: 120px;
    }

    .experience_block {
        gap: 30px;
    }

    .experience h2 {
        font-size: 30px;
    }

    .experience_ind h3,
    .experience_ind h4 {
        font-size: 20px;
    }

    .experience_ind p {
        font-size: 16px;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .socialMedia a {
        margin: 0 5px;
        font-size: 20px;
    }
}