<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4d4e7abfc3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Experiencia</title>
</head>
<body>
    <header>
        <nav class="menu">
            <section class="menu__container">
                <ul class="menu__links">
                    <li class="menu__item">
                        <a href="../index.html" class="menu__link">Inicio</a>
                    </li>
                    <li class="menu__item">
                        <a href="/view/sobreMi.html" class="menu__link">Sobre mi</a>
                    </li>
                    <li class="menu__item">
                        <a href="/view/habilidades.html" class="menu__link ">Habilidades</a>
                    </li>
                    <li class="menu__item">
                        <a href="/view/experiencia.html" class="menu__link nav_experiencia">Experiencia</a>
                    </li>
                    <li class="menu__item">
                        <a href="/view/portfolio.html" class="menu__link">Portfolio</a>
                    </li>
                    <li class="menu__item">
                        <a href="/view/contacto.html" class="menu__link">Contacto</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <ul class=" menu_option_dark_mode">
                                <li class="switch_dark">
                                    <i class="fa-solid fa-moon border"></i>
                                    <i class="fa-sharp fa-solid fa-sun border "></i>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
                <div class="menu__hamburguer">
                    <img src="/img/menu.svg" class="menu__img">
                </div>

            </section>
        </nav>
    </header>
    <main>
   
        <section id="experiencia-section">
            <br><br><br><br><br><br>
            <div class="experience">
                <div class="experience_block">
                    
                    <div class="experience_ind" id="job">
                        <h2>Experiencia</h2>
                        <br>
                        <div class="experience_ind">
                            <h3>Customer Service Analyst</h3>
                            <h4>Thinkion</h4>
                            <p>Diciembre 2023</p>
                            <p>Diciembre 2023 - Actualidad
                                Manejo de SQL y phpMyAdmin, Google Cloud Services, identificar y reparar errores delservidor, soporte al cliente</p>
                        </div>
                        <div class="experience_ind">
                            <h3>Técnico en Control de calidad</h3>
                            <h4>Novatech S.A</h4>
                            <p>Agosto 2016 - Octubre 2016</p>
                            <p>Controlar instalación del sistema operativo, Comprobación de circuitos electrónicos,
                                Optimizar posibles fallas en fabricación</p>
                        </div>
                        <div class="experience_ind">
                            <h3>Pasantía</h3>
                            <h4>Gulf Oil Argentina</h4>
                            <p>Junio 2014 - Noviembre 2014</p>
                            <p>Mantenimiento preventivo, Mantenimiento correctivo, Optimizar procesos productivos</p>
                        </div>
                    </div>
                </div>
                <div class="experience_block">
                    <div class="experience_ind" id="academic">
                        <div class="experience_ind">
                            <h2>Formación académica</h2>
                            <br>
                            <h3>Ingeniería informática</h3>
                            <h4>Universidad de Palermo</h4>
                            <p>Agosto 2023 - Actualidad"</p>
                            <p>Cursando actualmente el primer año de la carrera</p>
                            <div class="experience_ind">
                                <h3>PHP Developer</h3>
                                <h4>Argentina Programa 4.0</h4>
                                <p>Mayo 2023 - Noviembre 2023 Graduado</p>
                                <p>Manejo de PHP, Html, CSS, Laravel, SQl y Boostrap, creación de una pagina web,
                                    Creación de una base de datos con phpMyAdmin</p>
                            </div>
                            <div class="experience_ind">
                                <h3>Desarrollo Web Full Stack</h3>
                                <h4>Digital House</h4>
                                <p>Junio 2022 - Diciembre 2022 Graduado</p>
                                <p>Creación de una página web de cero con Node.js, metodología MVC, phpMyAdmin, HTML,
                                    CSS y SQL,manejo de Github y control de versiones</p>
                            </div>
                         
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
       
    </main>
    <footer class="footer_experiencia">
        <section id="contacto-section">
            <div class="socialMedia">
                <a href="https://www.linkedin.com/in/juanbcliment/"><i class="fab fa-linkedin fa-2xl"></i>  linkedin.com/in/juanbcliment/</a>
                <a href="https://github.com/juanbcliment"><i class="fa-brands fa-square-github fa-2xl"></i>  github.com/juanbcliment</a>
                
                <a href="mailto:juanbclimentru@gmail.com"><i class="fa-solid fa-envelope fa-2xl"></i>  juanbclimentru@gmail.com</a>
            </div>
        </section>
    </footer>
    <script src="/js/dropdown.js"></script>
    <script src="/js/darkMode.js"></script>
</body>
</html>