<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4d4e7abfc3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="menu">
            <section class="menu__container">
                <ul class="menu__links">
                    <li class="menu__item">
                        <a href="../index.html" class="menu__link">Inicio</a>
                    </li>
                    <li class="menu__item">
                        <a href="/view/sobreMi.html" class="menu__link">Sobre mi</a>
                    </li>
                    <li class="menu__item">
                        <a href="/view/habilidades.html" class="menu__link  nav_habilidades">Habilidades</a>
                    </li>
                    <li class="menu__item">
                        <a href="/view/experiencia.html" class="menu__link">Experiencia</a>
                    </li>
                    <li class="menu__item">
                        <a href="/view/portfolio.html" class="menu__link">Portafolio</a>
                    </li>
                    <li class="menu__item">
                        <a href="#contacto-section" class="menu__link">Contacto</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <ul class=" menu_option_dark_mode">
                                <li class="switch_dark">
                                    <i class="fa-solid fa-moon border"></i>
                                    <i class="fa-sharp fa-solid fa-sun border "></i>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
                <div class="menu__hamburguer">
                    <img src="/img/menu.svg" class="menu__img">
                </div>

            </section>
        </nav>
    </header>
    <main>
     
        <section id="habilidades-section">
            <div id="habilidades-section" class="habilidades">
              <br><br>
                <div>
                    <h3>Habilidades Técnicas</h3>
                    <ul>
                        <li>PHP</li>
                        <li>Node.js</li>
                        <li>Laravel</li>
                        <li>Git</li>
                        <li>SQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Boostrap</li>
                        <li>Linux</li>
                        <li>Python</li>
                    </ul>
                </div>
                <div>
                    <h3>Competencias</h3>
                    <ul>
                        <li>Comunicación</li>
                        <li>Organización</li>
                        <li>Trabajo en equipo</li>
                        <li>Resolución de problemas</li>
                        <li>Iniciativa</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer_experiencia">
        <section id="contacto-section">
            <div class="socialMedia">
                <a href="https://www.linkedin.com/in/juanbcliment/"><i class="fab fa-linkedin fa-2xl"></i>  linkedin.com/in/juanbcliment/</a>
                <a href="https://github.com/juanbcliment"><i class="fa-brands fa-square-github fa-2xl"></i>  github.com/juanbcliment</a>
                
                <a href="mailto:juanbclimentru@gmail.com"><i class="fa-solid fa-envelope fa-2xl"></i>  juanbclimentru@gmail.com</a>
            </div>
        </section>
    </footer>
    <script src="../js/dropdown.js"></script>
    <script src="../js/darkMode.js"></script>
</body>
</html>